site/static/**/*.png filter=lfs diff=lfs merge=lfs -text
site/static/**/*.jpg filter=lfs diff=lfs merge=lfs -text
site/static/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
site/static/**/*.gif filter=lfs diff=lfs merge=lfs -text
site/static/**/*.webp filter=lfs diff=lfs merge=lfs -text
site/static/**/*.avif filter=lfs diff=lfs merge=lfs -text
site/static/**/*.ico filter=lfs diff=lfs merge=lfs -text
site/static/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
